<header>
    <nav class="header-width">
        <a href="/" class="header-title"><img src="public/images/playcanvas-manual.png"></a>
        <ul class="header-menu">
            <li class="user-manual"><a href="https://developer.playcanvas.com/en/user-manual/">User Manual</a></li>
            <li class="tutorials"><a href="https://developer.playcanvas.com/en/tutorials">Tutorials</a></li>
            <li class="forum"><a href="https://forum.playcanvas.com/" target="_blank">Forum</a></li>
            <li class="api active"><a href="/api/">API Reference</a></li>
        </ul>
    </nav>

    <div class="header-content header-page header-width">
        <h1><span class="font-icon">{{{header-icon}}}</span>{{header-title}}</h1>
        <input id="search" class="search" type="text" placeholder="Search"></input>
    </div>
</header>
