<!doctype html>
<html lang="en">
    <head>
        <title>{{title}} | PlayCanvas API Reference</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="public/images/favicon_docs.png">

        <link href="public/css/styles.css" rel="stylesheet">
        <link href="public/css/playcanvas-theme.css" rel="stylesheet">
        <script src="public/js/interface.js"></script>
        <script src="public/js/highlight.min.js"></script>

        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        {{> header header-icon="&#58195;" header-title="API Reference"}}
        <div class="container content-width">
            {{> navigation}}
            {{> class}}
        </div>

        {{> analytics}}
    </body>

</html>
